

.text {
  white-space: pre-wrap;
  font-size: 20px;
  font-weight: bold;
  
}

#about h2 {
  text-align: center;
  font-family: "Amatic SC", sans-serif;
  font-weight: bold;
  font-size: 80px; /* モバイル用にフォントサイズを調整 */
  margin-right: 0; /* 不要なマージンを削除 */
}

#about {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 1px;
  padding-bottom: 1px;
  margin-top: -30px;
}

.pro-text {
  display: flex;
  align-items: center; /* モバイルでは中央に寄せる */
  margin-top: -20px;
  justify-content: center;
}

.pro-text img {
  width: 270px;
  height: 215px;
  object-fit: contain;
  margin: 0; /* 不要なマージンを削除 */
}

@media screen and (max-width: 480px) {
  .pro-text {
    margin: 0; /* 不要なマージンを削除 */
    flex-direction: column; /* モバイルでは縦方向に並べる */
  }

  .pro-text img {
    width: 100%; /* 画面幅に合わせて画像を表示 */
    margin-bottom: 20px; /* 画像の下に余白を追加 */
  }

  .text {
    font-size: 16px; /* モバイル用にフォントサイズを調整 */
  }

  #about h2 {
    text-align: center;
    font-family: "Amatic SC", sans-serif;
    font-weight: bold;
    font-size: 50px; /* モバイル用にフォントサイズを調整 */
    margin-right: 0; /* 不要なマージンを削除 */
  }
}
