#projects {
  min-height: 45vh;
  background-color: whitesmoke;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  transition: height 0.3s ease;
  /* スムーズに高さを変更するためのトランジション */
}

#projects h2 {
  text-align: center;
  font-family: "Amatic SC", sans-serif;
  font-weight: bold;
  font-size: 80px;
  /* モバイル用にフォントサイズを調整 */
  margin-right: 0;
  /* 不要なマージンを削除 */
}

.skills-title {
  cursor: pointer;
  text-align: center; /* "ter" -> "center" に修正 */
  margin-bottom: 20px;
}

.yok {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -40px;
}

.tec {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; /* 画像が横に並びきれない場合に改行させる */
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
  border-radius: 20px;
  width: 60%;
  height: 20%;
}

.tec li {
  cursor: pointer;
  margin: 10px;
  font-size: 22px;
  padding: 20px;
  text-align: center;
}


.skill_icon {
  width:70px;
  height: 70px;
  margin-left: -30px;
}

.skill_icon:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-2.5px);
  transition-duration: 0.5s;
}

.dropdown {
  background-color: #fff;
  text-align: center;
  width: 40%;
  border-radius: 20px;
  margin-top: 20px;
  min-height: 100px;
}

#projects.expanded {
  height: auto;
  /* 内容に合わせて高さを自動調整 */
  min-height: 60vh;
  /* 最小高さを設定 */
}



@media screen and (max-width: 480px) {
 



  #projects {
    height: auto;
    min-height: 55vh; /* モバイル用に高さを調整 */
    margin-top: 20px; /* マージンを減らしてモバイル表示に対応 */
  }

  #projects.expanded {
    height: auto;
    /* 内容に合わせて高さを自動調整 */
    min-height: 70vh;
    /* 最小高を設定 */
  }
  

  #projects h2 {
    font-size: 50px; /* フォントサイズを調整 */
  }

  .yok {
    align-items: center;
    margin-top: 0; /* 上部のマージンを減らして調整 */
  }

  .tec {
    flex-direction: row; /* 横並びにする */
    width: 80%;
    padding: 10px;
    margin-top: -10px; /* 上部のマージンを調整 */
  }

  .tec li {
    width: auto; /* 幅を自動調整 */
    padding: 10px;
    font-size: 18px;
  }

  .skill_icon {
    width: 50px;
    height: 50px;
    margin-left: 0; /* マージンを中央揃えにするために削除 */
  }

  .dropdown {
    font-size: 16px; /* ドロップダウンのフォントサイズを調整 */
    width: 80%; /* 幅を広げて表示 */
  }

  .skills-title {
    font-size: 24px; /* タイトルのフォントサイズを調整 */
  }
}

@media screen and (min-width: 1491px) {
  .tec {
    flex-direction: row;
    justify-content: center;
    padding: 10px 100px;
    margin-left: 20px;
  }

  .tec li {
    display: inline-block;
    padding: 20px;
    text-align: center;
    font-size: 20px;
  }
}
