body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  width: 100%;
}



@media screen and (max-width: 1490px) {
  .lic {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: -45px;
    padding: 10px 10px;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .lic li {
    display: inline;
    padding-bottom: 1px;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

  .year {
    padding-left: 250px;
  }

  .mei {
    padding-right: 150px;
  }
}

#licences {
  background-color: white;
  width: 100%;
  margin: 0 auto;
}

#licenses h2 {
  text-align: center;
  font-family: "Amatic SC", sans-serif;
  font-size: 70px;
}

.lic_yok {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 1491px) {
  .lic {
    padding: 0;
    margin: 0;
    list-style: none;
    padding: 10px 100px;
    flex-wrap: wrap;
    margin-left: 20px;
  }

  .lic li {
    display: inline;
    padding-bottom: 1px;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    margin-left: 30px;
  }

  .year {
    padding-left: 550px;
  }

  .mei {
    padding-right: 100px;
  }
}

@media screen and (max-width: 480px) {
  .lic_yok {
    flex-direction: column;
    align-items: center;
  }

  .lic {
    padding: 10px;
    margin-top: 0;
    flex-wrap: nowrap;
  }

  .lic li {
    padding: 10px;
    font-size: 18px;
  }

  .year {
    display: none; /* 取得年度を非表示にする */
  }

  .mei {
    padding-right: 0;
    text-align: center;
    margin-top: -50px;
  }
}
