.licenses-container {
  background: white;
  padding: 40px;
  text-align: center;
}

.license-title {
  text-align: center;
  font-family: "Amatic SC", sans-serif;
  font-weight: bold;
  font-size: 80px; /* モバイル用にフォントサイズを調整 */
  margin-right: 0; /* 不要なマージンを削除 */
}

.license-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.license-item {
  background-color: whitesmoke;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.license-item:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-2.5px);
}

.license-date {
  font-size: 14px;
  color: #6c757d;
  margin-bottom: 5px;
}

.license-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
