/* styles.css */

.timecolor {
    background: linear-gradient(to bottom, #f8f9fa, #e9ecef);
}

.timecolor h2 {
    text-align: center;
    font-family: "Amatic SC", sans-serif;
    font-size: 80px;
}

.timecolor h3 {
    font-size: 22px;
}

.timecolor h3 p {
    /*年などを書いてるの設定*/
    font-size: 14px;
    margin-top: -8px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 10px 40px;
    position: relative;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: 2.6%;
    border: 4px solid #4CAF50;
    top: 0px;
    border-radius: 50%;
    /*円にしてる*/
    z-index: 1;
    background-color: #4CAF50;
}

.right {
    left: 50%;
    /*右の線を左に合わせてる*/
}

.left::before {
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    right: 30px;
    width: 10px;
    /*線の太さ*/
    background-color: #4CAF50;
    z-index: 1;
}

.right::before {
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    left: 40px;
    width: 10px;
    background-color: #4CAF50;
    z-index: 1;
}

.right::after {
    left: 29.5px;
    /*円の場所を調整*/
}

.content {
    padding: 10px 40px;
    position: relative;
    background-color: white;
}

@media screen and (max-width: 600px) {
    .timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .container::before {
        left: 60px;
        border: none;
        height: 0;
    }

    .left::before,
    .right::before {
        left: 60px;
    }

    .left::after,
    .right::after {
        left: 15px;
    }
}

/* max-width 480px styles */
@media screen and (max-width: 480px) {
    .timecolor h2 {
        font-size: 50px;
    }

    .timecolor h3 {
        font-size: 18px;
    }

    .timecolor h3 p {
        font-size: 12px;
    }

    .timeline {
        padding: 0;
    }

    .container {
        width: 90%;
        padding: 10px 20px;
        margin-bottom: 20px;
        left: 0 !important;
    }

    .container::before,
    .container::after,
    .left::before,
    .right::before,
    .left::after,
    .right::after {
        left: 15px;
    }

    .container::after {
        width: 20px;
        height: 20px;
        right: auto;
    }

    .left::before,
    .right::before {
        width: 8px;
    }

    .content {
        padding: 10px 20px;
    }

    .right {
        left: 0;
    }

    .container::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 100%;
        left: 15px;
        top: 23px;
        background-color: #4CAF50;
        z-index: 1;
        
    }

    .container::after {
        width: 20px;
        height: 20px;
        left: 6px;
        border: 4px solid #4CAF50;
        background-color: #4CAF50;
    }
}
