/* styles.css */




.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    background-color: whitesmoke;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: white;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #4CAF50;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    right: 30px;
    width: 10px;
    background-color: #4CAF50;
    z-index: 1;
}

.right::before {
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    left: 30px;
    width: 10px;
    background-color: #4CAF50;
    z-index: 1;
}

.right::after {
    left: -16px;
}

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

@media screen and (max-width: 600px) {
    .timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .container::before {
        left: 60px;
        border: none;
        height: 0;
    }

    .left::before,
    .right::before {
        left: 60px;
    }

    .left::after,
    .right::after {
        left: 15px;
    }
}
